
<div class="genre-filter" nav-group>
  <div class="genre-filter__item" [class.genre-filter__item_selected]="isGenreActive(item)" nav-item item-vertical
    (keyEnterEvent)="selectGenre(item)" (blur)="onBlur()" (click)="selectGenre(item)" *ngFor="let item of genres">
    <div class="genre-filter__item-name">{{ item?.name }}</div>
    <!-- <div class="genre-filter__item-count" *ngIf="item.ch_count">{{ item?.ch_count }}</div> -->
  </div>
</div>

<!-- <div class="active-genre">{{ activeGenre?.name }}</div> -->
