@import '../../../../colors.scss';

.tvshows {
  height: 100vh;
  width: 20rem;
  background: $light-gray;
  box-shadow: $shadow-dark;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  .no-content {
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tvshows::-webkit-scrollbar { width: 0 !important }
