<div class="page page_tvguide" nav-container>
  <app-tv-guide-channels [activeChannelId]="activeChannel?.channel_id" [channels]="filteredChannels" (focusChannel)="onChannelChange($event)"></app-tv-guide-channels>

  <app-tv-guide-dates (changeDateEvent)="onDateChange($event)" [activeDate]="currentDate" [dates]="uniqueDates"></app-tv-guide-dates>

  <app-tv-guide-shows [tvshows]="tvshows" (focusTvshow)="onTvshowFocus($event)" [dvr]="dvr"></app-tv-guide-shows>

  <app-preview (click)="redirectFocus()" [channel]="activeChannel" [tvshow]="selectedTvshow"></app-preview>
</div>
