<div class="tape">
  <div class="tape__title">{{ title }}</div>
  <ng-container *ngIf="channels.length > 0 then dataTape else stubTape"></ng-container>
</div>

<ng-template #dataTape>
  <div class="tape__items" horizontalTape>
    <app-channel-card behavior="first" [channel]="channel" [currentTime]="currentTime" *ngFor="let channel of channels"></app-channel-card>
    <app-channel-card [last]="stub" *ngIf="stub" (showAllEvent)="onShowAll()"></app-channel-card>
  </div>
</ng-template>

<ng-template #stubTape>
  <div class="tape__items" horizontalTape>
    <app-channel-card stub="true" *ngFor="let i of [0, 1, 2, 3]"></app-channel-card>
  </div>
</ng-template>
