.keyinfo {
  position: absolute;;
  left: 0;
  top: 0;
  background-color: black;
  border: 2px solid red;
  width: 400px;
  height: 50px;
  z-index: 1000;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
