<div class="page" nav-container>

  <!-- <ng-container>
    <app-banner [banners]="banners | async" nav-group></app-banner>
  </ng-container> -->

  <app-header></app-header>

  <div nav-group class="first-tape">
    <app-channels-tape title="Популярные каналы" [channels]="channels | async" stub="true"></app-channels-tape>
  </div>

  <div nav-group *ngIf="(filmIds | async)?.length > 0">
    <app-video-tape title="Фильмы" [tape]="filmIds | async" countInRow="4" redirectPath="films" type="video" isLast="true"></app-video-tape>
  </div>

  <div nav-group *ngIf="(serieIds | async)?.length > 0">
    <app-video-tape title="Сериалы" [tape]="serieIds | async" redirectPath="series" type="video" isLast="true"></app-video-tape>
  </div>

  <div nav-group *ngIf="(cartoonIds | async)?.length > 0">
    <app-video-tape title="Мультфильмы" [tape]="cartoonIds | async" redirectPath="cartoons" type="video" isLast="true"></app-video-tape>
  </div>

  <!-- <div nav-group *ngIf="(tvshowIds | async)?.length > 0">
    <app-video-tape title="Передачи" countInRow="4" [tape]="tvshowIds | async" redirectPath="shows" type="tvshow" isLast="true"></app-video-tape>
  </div> -->

  <!-- <div nav-group *ngIf="(standupIds | async)?.length > 0">
    <app-video-tape title="Стендап" countInRow="4" [tape]="standupIds | async" redirectPath="shows" type="tvshow" isLast="true"></app-video-tape>
  </div>

  <div nav-group *ngIf="(humorIds | async)?.length > 0">
    <app-video-tape title="Юмор" countInRow="4" [tape]="humorIds | async" redirectPath="shows" type="tvshow" isLast="true"></app-video-tape>
  </div>

  <div nav-group *ngIf="(courseIds | async)?.length > 0">
    <app-video-tape title="Курсы" countInRow="4" [tape]="courseIds | async" redirectPath="shows" type="tvshow" isLast="true"></app-video-tape>
  </div>

  <div nav-group>
    <app-bought-book-tape title="Аудиокниги" countInRow="4" [books]="books | async" [isShowStub]="true"></app-bought-book-tape>
  </div> -->

  <!-- <ng-container>
    <div *ngFor="let tape of featuredChannelsTape" nav-group>
      <app-channels-tape [tape]="tape" stub="true"></app-channels-tape>
    </div>
  </ng-container> -->

  <!--
  <div class="content-viewport" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    [scrollWindow]="false" (scrolled)="loadNext()">

    <div nav-group>
      <app-channels-tape *ngIf="mainFeaturedChannels" [tape]="mainFeaturedChannels" stub="true"></app-channels-tape>
    </div>

    <ng-container *ngIf="isHaveFeaturedChannelTapes">
      <div *ngFor="let tape of featuredChannelsTapes" nav-group>
        <app-channels-tape [tape]="tape" stub="true"></app-channels-tape>
      </div>
    </ng-container>


    <ng-container *ngIf="loadingStep >= 1">


      <div *ngFor="let tape of featuredFilmsTapes" nav-group>
        <app-video-tape [tape]="tape" type="video" *ngIf="tape && tape.videos && tape.videos.length > 0" isStub="true" redirectPath="films"></app-video-tape>
      </div>

      <div nav-group>
        <app-video-tape *ngIf="featuredVod && featuredVod[0]" redirectPath="films" isStub="true" [tape]="{ title: 'Фильмы', videos: featuredVod[0].videos }" type="video"></app-video-tape>
      </div>


    </ng-container>


    <ng-container *ngIf="loadingStep >= 2">

      <div nav-group>
        <app-video-tape *ngIf="featuredVod && featuredVod[1]" isStub="true" redirectPath="series" [tape]="{ title: 'Сериалы', videos: featuredVod[1].videos }" type="video"></app-video-tape>
      </div>

      <div *ngFor="let tape of featuredSeriesTapes" nav-group>
        <app-video-tape [tape]="tape" type="video" *ngIf="tape && tape.videos && tape.videos.length > 0"  isStub="true" redirectPath="series"></app-video-tape>
      </div>
    </ng-container>

    <ng-container *ngIf="loadingStep >= 3">

      <div nav-group>
        <app-video-tape *ngIf="featuredVod && featuredVod[2]" isStub="true" redirectPath="cartoons" [tape]="{ title: 'Мультфильмы', videos: featuredVod[2].videos }" type="video"></app-video-tape>
      </div>


      <div *ngFor="let tape of featuredCartoonsTapes" nav-group>
        <app-video-tape [tape]="tape" redirectPath="cartoons" *ngIf="tape && tape.videos && tape.videos.length > 0" isStub="true" type="video"></app-video-tape>
      </div>
    </ng-container>


    <ng-container *ngIf="loadingStep >= 4">

      <div nav-group>
        <app-video-tape *ngIf="featuredVod && featuredVod[3]" isStub="true" redirectPath="shows" [tape]="{ title: 'Передачи', videos: featuredVod[3].videos }" type="tv"></app-video-tape>
      </div>

      <div *ngFor="let tape of featuredTvshowsTapes" nav-group>
        <app-video-tape [tape]="tape" type="tvshow" isStub="true" *ngIf="tape && tape.videos && tape.videos.length > 0" redirectPath="shows"></app-video-tape>
      </div>

      <div nav-group>
        <app-video-tape *ngIf="featuredVod && featuredVod[4]"  isStub="true" redirectPath="courses" [tape]="{ title: 'Курсы', videos: featuredVod[4].videos }" type="tv"></app-video-tape>
      </div>

    </ng-container>


  </div> -->

</div>
